<%= render 'layouts/scrip' %>
<section class="section" >
  <h5 class="text-center title"><strong>Руководитель проэкта</strong></h5>
  <p class="text-center title">-----------------</p>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <h5><strong>Разработчики<br></strong></h5>
        <p>
        Бадаев Александр
        </p>
        
      </div>
      <div class="col-sm-4  col-sm-offset-2">
        <h5><strong>Автор идеи<br></strong></h5>
        <p>Бадаев Александр</p>

      </div>
    </div>
</section>