<%= render 'layouts/scrip' %>
<section class="section">
    <div class="row">

      <h5 class="text-center">
        <strong>Система добавления документов<br></strong></h5>
      <div class="col-sm-4 col-sm-offset-2">
        <h5><strong>DOC<br></strong></h5>
        <p>
          Данная система используется для добавления задании
        </p>
        
      </div>
      <div class="col-sm-4">
        <h5><strong>DOC<br></strong></h5>
        
        <p>
          Если вы хотите добавить документы вам придется  <%=link_to 'войти',signin_path,method: :get %>  в систему.
        </p>
      </div>
    </div>
</section>

